<article class="col-12 col-md-6 col-lg-4 pb-4">
  <div class="card">
    {{- with .Params.image }}
      {{- $image := resources.Get . }}
      {{- $image := $image.Fill "286x180 center" }}
      <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="Card image cap">
    {{- end }}
    <div class="card-body">
      <h3 class="card-title">{{ .Title }}</h3>
      <p class="card-text">
        {{ .Params.description }}
      </p>
      <p class="card-text">
        <b>Genre:</b> {{ .Params.genre }}<br>
        <b>Format:</b> {{ .Params.format }} ({{ .Params.duration }})<br>
        <b>Autor:</b> {{ .Params.author }}
      </p>
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Weitere Informationen</a>
    </div>
  </div>
</article>
