{{- define "main" }}
{{- with .Params.image }}
{{- $image := resources.Get . }}
{{- $image := $image.Resize "480x" }}
<img
  src="{{ $image.RelPermalink }}"
  alt="Card image cap"
  width="{{ $image.Width }}"
  class="pb-3 pb-lg-0 ps-lg-3 float-lg-end img-fluid"
>
{{- end }}

<h1>{{ .Title }}</h1>

<p>
  <b>Genre:</b> {{ .Params.genre }}<br>
  <b>Format:</b> {{ .Params.format }} ({{ .Params.duration }})<br>
  <b>Autor:</b> {{ .Params.author }}<br>
  {{- if .Params.link }}
  <b>Lizenz:</b> <a href="{{ .Params.license_url }}">{{ .Params.license }}</a>
  {{- end }}
</p>

{{ .Content }}

<div class="mt-3 d-flex gap-2 align-items-start">


  {{- if .Params.link }}
    {{- if eq .Params.free true }}
    <a href="{{ .Params.link }}" class="btn btn-primary">Herunterladen</a>
    {{- else }}
    <a href="{{ .Params.link }}" class="btn btn-primary">Kaufen</a>
    {{- end }}
  {{- else }}
    <button disabled href="{{ .Params.link }}" class="btn btn-primary">Download bald verfügbar</button>
  {{- end }}

  {{- with .Params.donate }}
  <a href="{{ . }}" class="btn btn-img btn-secondary">
    <span>
      <img src="/images/kofi_symbol.svg" alt="Ko-fi logo" class="button-image">
      Unterstütze den Autor
    </span>
  </a>
  {{- end }}
</div>
{{- end }}