<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{- if .IsHome -}}
    {{ $.Site.Title }}
    {{- else -}}
    {{ .Title }} - {{ $.Site.Title }}
    {{- end -}}
  </title>

  <link rel="stylesheet" href="/generated/main.css"/>

  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
  <link rel="shortcut icon" href="/favicon/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
  <meta name="apple-mobile-web-app-title" content="QoC"/>
  <link rel="manifest" href="/favicon/site.webmanifest"/>

  <script type="text/plain" data-category="analytics" async src="https://www.googletagmanager.com/gtag/js?id=G-D2BW2DRJR1"></script>
  <script type="text/plain" data-category="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D2BW2DRJR1');
  </script>
</head>
<body style="background-image: url('/images/bg_1.jpg')">

<div class="container px-3 mx-auto">
  {{- if not .IsHome }}
    <header class="with-logo">
  {{- else }}
    <header>
  {{- end }}
      <a href="/" title="{{ $.Site.Title }}">
        <img src="/images/qoc_logo.png" alt="Quests of Chaos Logo" style="height: 70px;">
      </a>
      <ul class="nav">
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
          {{- $attrs := dict "href" .URL }}
          {{- if $currentPage.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") }}
          {{- else if $currentPage.HasMenuCurrent .Menu .}}
            {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "true") }}
          {{- else }}
            {{- $attrs = merge $attrs (dict "class" "nav-link") }}
          {{- end }}
          <li class="nav-item">
            <a
              {{- range $k, $v := $attrs }}
                {{- with $v }}
                  {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
              {{- end -}}
            >{{ .Name }}</a>
          </li>
        {{- end }}
      </ul>
    </header>

    <div class="px-2 ps-md-2 pe-md-1 clearfix">
      {{- if not .IsHome }}
      {{ partial "breadcrumb.html" . }}
      {{- end }}

      {{- block "main" . }}
      {{- end }}
    </div>
</div>

<footer class="fixed-bottom">
  <div class="container d-flex justify-content-between gap-2">
    <div>
      <a href="https://discord.com/invite/tbcMtscadA" title="Trete unserer Discord-Community bei">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="/images/bootstrap-icons.svg#discord"/>
        </svg>
      </a>
    </div>
    <!--<a href="/legal">Impressum</a>-->
    <a href="javascript:;" data-cc="show-preferencesModal">Cookie Einstellungen anpassen</a>
  </div>
</footer>

<script src="/generated/main.js"></script>

</body>
</html>